@media only screen and (min-width: 1199px) and (max-width: 1399px) {
    .get-started-btn button {
        font-weight: 500;
        font-size: 16px;
        padding: 20px 20px;
    }

    .banner_text h1 {
        font-size: 38px;
    }
    .banner_text p {
        padding-top: 18px;
    }


}

@media only screen and (min-width: 991px) and (max-width: 1199px) {

    .banner_text h1 {
        font-size: 32px;
    }
    .banner_text p {
        font-size: 17px;
        padding-top: 15px;
    }
    .get-started-btn button {
        font-size: 16px;
        padding: 20px 8px;
    }
    .earning_img img {
        width: 60%;
    }
    #earning .earn-crypto {
        padding: 20px 0px;
    }


}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    h3 {
        font-weight: 500;
        font-size: 26px;
    }

    header {
        height: 80px;
    }
    .logo img {
        width: 215px;
    }
    .login-left {
        height: 390px;
    }

    .banner_text h1 {
        font-size: 32px;
    }
    .banner_text p {
        padding-top: 15px;
    }
    .get-started-btn button {
        font-weight: 400;
        font-size: 16px;
        padding: 20px 15px;
    }
    .banner_img svg{
        margin-top: 50px;
    }

    .card-design h5 {
        font-weight: 500;
        font-size: 15px;
    }
    .card-design h6 {
        font-weight: 500;
        font-size: 14px;
    }

    .heading h2 {
        font-weight: 600;
        font-size: 28px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        font-size: 16px;
    }
    p {
        font-weight: 400;
        font-size: 14px;
    }
    .cripto-portfolio .img-box {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .item .line::before {
        width: 100px;
        right: -62px;
    }
    .item .line::after {
        width: 100px;
        left: -62px;
    }

    .earning_img img {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50%;
    }

    #earning .earn-crypto {
        padding: 32px 0px;
    }



}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .custom-btn {
        font-size: 18px;
        padding: 12px 25px;
        letter-spacing: 3px;
    }
    .section-title h2 {
        font-size: 20px;
        line-height: 30px;
    }

    h3 {
        font-weight: 500;
        font-size: 24px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }
    
    .banner_text h1 {
        font-size: 32px;
        line-height: 40px;
    }
    
    .banner_text p {
        padding-top: 20px;
        font-size: 18px;
    }
    
    .custom-form {
        width: 100%;
        padding-left: 8px;
        font-size: 15px;
    }
    
    .get-started-btn button {
        font-weight: 400;
        font-size: 16px;
        padding: 8px 40px;
    }
    
    .banner_img svg {
        width: 100%;
    }
    
    .table-design {
        padding: 0px 0px;
    }
    
    .card-design h5 {
        font-weight: 500;
        font-size: 18px;
    }
    
    .card-design h6 {
        font-weight: 500;
        font-size: 14px;
    }
    
    .heading h2 {
        font-weight: 500;
        font-size: 24px;
    }
    
    .counter_text h3 {
        font-weight: 600;
        font-size: 40px;
    }
    
    #cryptocurrency {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    
    .item .line::before {
        content: none;
    }
    
    .item .line::after {
        content: none;
    }
    
    .earning_img img {
        display: none;
    }
    
    #earning .earn-crypto {
        padding: 40px 0px;
    }


}

@media only screen and (max-width:575px) {
    h3 {
        font-weight: 500;
        font-size: 24px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .banner_text h1 {
        font-size: 32px;
        line-height: 40px;
    }
    
    .banner_text p {
        padding-top: 20px;
        font-size: 18px;
    }
    
    .custom-form {
        width: 100%;
        padding-left: 8px;
        font-size: 15px;
    }
    .get-started-btn button {
        font-weight: 400;
        font-size: 16px;
        padding: 8px 40px;
    }
    .banner_img svg {
        width: 100%;
    }
    
    .table-design {
        padding: 0px 0px;
    }
    
    .card-design h5 {
        font-weight: 500;
        font-size: 18px;
    }
    
    .card-design h6 {
        font-weight: 500;
        font-size: 14px;
    }
    
    .heading h2 {
        font-weight: 500;
        font-size: 24px;
    }
    
    .counter_text h3 {
        font-weight: 600;
        font-size: 40px;
    }
    
    #cryptocurrency {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    
    .item .line::before {
        content: none;
    }
    
    .item .line::after {
        content: none;
    }
    
    .earning_img img {
        display: none;
    }
    
    #earning .earn-crypto {
        padding: 40px 0px;
    }


}

@media only screen and (max-width: 400px) {
    h3 {
        font-weight: 500;
        font-size: 24px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }

    .banner_text h1 {
        font-size: 30px;
    }
    .banner_text p {
        padding-top: 20px;
        font-size: 18px;
    }
    .custom-form {
        width: 100%;
        padding-left: 8px;
        font-size: 15px;
    }
    .get-started-btn button {
        font-weight: 400;
        font-size: 14px;
        padding: 11px 20px;
    }
    .banner_img svg{
        width: 100%;
    }

    .table-design {
        padding: 0px 0px;
    }
    .card-design h5 {
        font-weight: 500;
        font-size: 14px;
    }
    .card-design h6 {
        font-weight: 500;
        font-size: 12px;
    }

    .heading h2 {
        font-weight: 500;
        font-size: 20px;
    }

    .counter_text h3 {
        font-weight: 600;
        font-size: 40px;
    }

    #cryptocurrency {
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .item .line::before {
        content: none;
    }

    .item .line::after {
        content: none;
    }

    .earning_img img {
        display: none;
    }
    #earning .earn-crypto {
        padding: 40px 0px;
    }


}



